body
{
  color: darkmagenta;
  background: lightcoral;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed darkblue;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: brown;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;

}
label{
  font-size: 14px;
  color: mediumvioletred;
  padding: 6px;
  border-radius: 10px;
  background-color: mediumspringgreen;
}